.App {
  font-family: "fantasy", papyrus;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* color: white; */
  margin: 0;
  overflow-x: hidden !important;
  position: relative;
  height: 100vh;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-image: url("https://i.postimg.cc/CLDDFXhm/geo.png");
  background-size: cover;
  position: relative;
  transform: none;
}
/* @media only screen and (orientation: landscape) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
} */
/* .App::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
} */

body {
  /* background-image: url(https://i.pinimg.com/736x/ba/9b/f0/ba9bf0114aba80a042bbb73918c3215a.jpg); */
  /* background-position: top;
  background-size: 400px; */
  width: 100%;
  margin: 0;
  overflow-x: hidden !important;
  color: white;
}

h1 {
  font-size: 50px;
}

.header {
  margin-top: 7vh;
  line-height: 0;
}

.start {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  width: 50vw;
  height: 10vh;
  border: none;
  border-bottom: 2px solid white;
  font-size: large;
  font-weight: bold;
  outline: none;
  font-family: "fantasy", papyrus;
  background-color: transparent;
  color: white;
  font-size: 2em;
  margin-top: 8vh;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #36485f;
}

.correct {
  color: green;
  width: 30vw;
  height: 5vh;
  border: none;
  border-bottom: 2px solid #7f7f7f;
  font-size: large;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-left: 1vw;
  outline: none;
  font-family: "fantasy", papyrus;
  background-color: transparent;
}

correct:focus {
  outline: none;
  border-bottom: 2px solid #36485f;
}

.locationinput {
  width: 50vw;
  height: 10vh;
  border: none;
  border-bottom: 2px solid white;
  font-size: large;
  font-weight: bold;
  margin-bottom: 2vh;
  margin-left: 1vw;
  outline: none;
  font-family: "fantasy", papyrus;
  background-color: transparent;
  color: white;
  font-size: 2em;

  text-transform: uppercase;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  /* opacity: 1; Firefox */
}

incorrect:focus {
  outline: none;
  border-bottom: 2px solid #1d1e20;
}

.gameBody {
  justify-content: center;
}

.bottom3 {
  display: grid;
  /* grid-template-columns: 250px 100px 100px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom2 {
  display: grid;
  /* grid-template-columns: 250px 100px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lives {
  font-size: 2em;
  color: maroon;
}

.sd {
  color: maroon;
  font-size: 2em;
}

.threelives {
  font-size: 2em;
  color: rgb(0, 75, 0);
}

.twolives {
  font-size: 2em;
  color: #979700;
}

.onelife {
  font-size: 2em;
  color: maroon;
}

.counter {
  float: bottom;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timer {
  font-size: 6em;
  height: 150px;
  width: 150px;
  /* margin-left: 75px; */
  color: white;
  border-radius: 50%;
  border: 5px solid white;
  text-align: center;
  position: absolute;
  align-self: center;
  margin-left: 30vw;
  margin-top: 3vh;
}

.redtimer {
  font-size: 6em;
  height: 150px;
  width: 150px;
  /* margin-left: 75px; */
  color: maroon;
  border-radius: 50%;
  border: 5px solid maroon;
  text-align: center;
  align-self: center;
  margin-left: 30vw;
  margin-top: 3vh;
}

.pushy__btn {
  color: white;
  font-family: "fantasy", papyrus;
  width: 100px;
  float: bottom;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Cardo", serif;
  height: auto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  /* display: inline-block; */
  border: none;
  /* background: rgb(37, 38, 51); */
  background-color: #103749;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  /* color: rgb(37, 38, 51); */
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5em 1.5em 0.75em;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pushy__btn:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 2px 0 rgba(255, 255, 255, 0.1),
    inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 2px 0 rgba(255, 255, 255, 0.1),
    inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  /* margin-top: 0.25em; */
  /* padding-bottom: 0.5em; */
}

.pushy__btn:active,
.pushy__btn:focus {
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.home__btn {
  color: white;
  margin-top: 10vh;
  margin-bottom: 10vh;

  height: 10vh;
  font-family: "fantasy", papyrus;
  width: 50vw;
  float: bottom;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-family: "Cardo", serif;
  /* height: auto; */
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  /* display: inline-block; */
  border: none;
  /* background: rgb(37, 38, 51); */
  background-color: #103749;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  /* color: rgb(37, 38, 51); */
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5em 1.5em 0.75em;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home__btn:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 2px 0 rgba(255, 255, 255, 0.1),
    inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 2px 0 rgba(255, 255, 255, 0.1),
    inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  /* margin-top: 0.25em; */
  padding-bottom: 0.5em;
}

.home__btn:active,
.home__btn:focus {
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
